body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

#map {
    height: 600px;
    width: 100%;
}

.logo-header {
    height: 100px;
}

h1 {
    color: #333;
    margin-top: 20px;
}

div {
    margin: 10px auto;
}

#map {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    width: 300px;
    text-align: center;
}
.info-box button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.info-box button:hover {
    background: #0056b3;
}

@media (max-width: 600px) {
    input {
        width: 90%;
        max-width: 300px;
    }
    
    #map {
        height: 400px;
    }
}
